.container {
    margin-top: 3rem;
    max-width: 960px;
}

.all-bottles, .travel-modes, .all-bottles img {
    margin: 1rem 0;
}

.all-bottles {
	overflow-y: scroll;
	height: 600px;
}

#estimate-description {
    margin: 2rem 0;
}

form input {
    margin-bottom: 1rem;
}

.travel-modes h3 {
    text-align: center;
}

.navbar-brand, .navbar-brand:hover {
    color: #212529;
    text-decoration: none;
}
