.container {
    margin-top: 3rem;
    max-width: 960px;
}

.all-bottles, .travel-modes, .all-bottles img {
    margin: 1rem 0;
}

button.delete {
    float: right;
    z-index: 10;
}

#estimate-description {
    margin: 2rem 0;
}

form input {
    margin-bottom: 1rem;
}

.travel-modes h3 {
    text-align: center;
}

.navbar-brand, .navbar-brand:hover {
    color: #212529;
    text-decoration: none;
}

.saved-estimate {
    border-top: 1px solid #d6d8db;
    border-right: 1px solid #d6d8db;
    border-left: 1px solid #d6d8db;
    cursor: pointer;
    font-size: 18px;
    padding: 1rem;
    z-index: 5;
}

.saved-estimate:last-of-type {
    border-bottom: 1px solid #d6d8db;
}

.saved-estimate:hover {
    background-color: #cee2fd;
}