{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <h2>About</h2>

    <p>Drunk on Carbon is a project by <a href="https://www.linkedin.com/in/taytufenkjian/" target="blank">Tay Tufenkjian</a> for <a href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript" target="blank">CS50's Web Programming with Python and JavaScript.</a></p>

    <p>The project serves two purposes:</p>
    <ol>
        <li>To help visualize some of the impacts of climate change, which often seems too big to comprehend.</li>
        <li>To provide a reason for yours truly to learn how to integrate multiple APIs in one web app.</li>
    </ol>

    <p>The project uses three APIs:</p>
    <ol>
        <li><a href="https://www.climatiq.io/docs" target="blank">Climatiq API</a></li>
        <li><a href="https://developers.google.com/maps/documentation/places/web-service" target="blank">Google Maps Places API</a></li>
        <li><a href="https://developers.google.com/maps/documentation/distance-matrix" target="blank">Google Maps Distance Matrix API</a></li>       
    </ol>
    
    <p>You can view the code <a href="https://github.com/TayTufenkjian/drunk-on-carbon" target="blank">here on GitHub.</a></p>

{% endblock %}