{% extends 'layout.html' %}

{% block body %}

    <h2>Create an account</h2>

    {% if message %}
        <div class="{{ message_type }}">{{ message }}</div>
    {% endif %}

    <form action="{% url 'create_account' %}" method="post" class="one-col">
        {% csrf_token %}
        <input class="form-control mb-4" autofocus type="text" name="username" placeholder="Username">
        <input class="form-control mb-4" type="email" name="email" placeholder="Email Address">
        <input class="form-control mb-4" type="password" name="password" placeholder="Password">
        <input class="form-control mb-4" type="password" name="confirmation" placeholder="Confirm Password">
        <input class="btn btn-primary" type="submit" value="Create account">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log in here.</a></p>

{% endblock %}