{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <div id="index">
        <p>Visualizing carbon dioxide equivalents as bottles of wine</p>
        <div class="row gx-5">
            <div class="col">
                <a href="{% url 'usa_simple' %}">
                    <div class="mb-3 p-4 border tile">
                            <h3>USA travel</h3>
                            <img src="static/images/usa-outline-miles.png" alt="black and white map of the United States with state outlines">
                            <p>by # of miles</p>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'usa_advanced' %}">
                    <div class="mb-3 p-4 border tile">
                            <h3>USA travel</h3>
                            <img src="static/images/usa-outline-markers.png" alt="black and white map of the United States with state outlines and map markers for origin and destination">
                            <p>from Origin to Destination</p>
                        
                    </div>
                </a>
            </div>  
        </div>
    </div>
{% endblock %}