{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <h1>Drunk on Carbon</h1>

    <p>Travel in the United States</p>

    <form id="miles-estimate">
        <label for="miles">Number of miles: </label>
        <input type="number" name="miles" id="miles">
        <input type="submit" class="btn btn-primary" value="Estimate">
    </form>

    <!-- <p>Response status: {{ response_status }}</p>

    {% for key, value in dict.items %}
        <p>{{ key }}: {{ value }}</p>
    {% endfor %}
    <hr>
    <p>That's {{ dict.co2e }} bottles of wine! </p>

    {% for n in wine_bottle_range %}
        <img src="{% static 'images/wine-bottle-icon.svg' %}" alt="wine bottle icon">
    {% endfor %} -->

    
{% endblock %}