{% extends 'layout.html' %}

{% block body %}

    <h2>Log in</h2>

    {% if message %}
        <div class="{{ message_type }}">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="one-col">
        {% csrf_token %}
        <input autofocus class="form-control mb-4" type="text" name="username" placeholder="Username">
        <input class="form-control mb-4" type="password" name="password" placeholder="Password">
        <input class="btn btn-primary" type="submit" value="Log in">
    </form>

    <p>Don't have an account? <a href="{% url 'create_account' %}">Create one here.</a></p>

{% endblock %}