{% extends 'layout.html' %}

{% block body %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        <input class="form-control" type="password" name="password" placeholder="Password">
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="{% url 'create_account' %}">Create one here.</a></p>

{% endblock %}