{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <div id="saved-estimates">
        <h2>Your saved estimates</h2>

        {% for estimate in saved_estimates %}
        <div class="saved-estimate">
            {% if estimate.origin %}
                <div>{{ estimate.origin }} to {{ estimate.destination }}</div>
            {% else %}
                <div>{{ estimate.miles }} Miles</div>
            {% endif %}
            <input type="hidden" id="miles" value="{{ estimate.miles }}">
        </div>
        {% endfor %}
    </div>

    {% include 'estimate.html' %}

{% endblock %}