{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <h2>USA travel from origin to destination</h2>

    <form class="estimate-form mt-4">
        <div id="origin" class="row mb-3">
            <h3>From</h3>
            <div class="col">
                <label for="origin_city" class="form-label">City</label>
                <input type="text" class="form-control" name="origin_city" id="origin_city" required>
            </div>
            <div class="col">
                <label for="origin_state" class="form-label">State</label>
                <select class="form-select" name="origin_state" id="origin_state" required>
                    {% include 'usa_states.html' %}
                </select>
            </div>
        </div>
        <div id="destination" class="row mb-3">
            <h3>To</h3>
            <div class="col">
                <label for="destination_city" class="form-label">City</label>
                <input type="text" class="form-control" name="destination_city" id="destination_city" required>
            </div>
            <div class="col">
                <label for="destination_state" class="form-label">State</label>
                <select class="form-select" name="destination_state" id="destination_state" required>
                    {% include 'usa_states.html' %}
                </select>
            </div>
        </div>

        {% if user.is_authenticated %}
            <input type="hidden" id="user" value="is_authenticated">
        {% endif %}
        
        <input type="submit" class="btn btn-primary" value="Estimate">
    </form>
    
    {% include 'estimate.html' %}

{% endblock %}