{% extends 'layout.html' %}
{% include 'estimate.html' %}
{% load static %}

{% block body %}
    <form class="estimate-form">
        <label for="origin">Origin</label>
        <input type="text" name="origin" id="origin" placeholder="Miami, FL">
        <label for="destination">Destination</label>
        <input type="text" name="destination" id="destination" placeholder="San Francisco, CA">
        <input type="submit" class="btn btn-primary" value="Estimate">
    </form>
    
    {% include 'estimate.html' %}
    
{% endblock %}