{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <h2>USA travel by miles</h2>

    <form class="estimate-form">
        <label for="miles" class="form-label">Number of miles: </label>
        <input type="number" class="form-control" name="miles" id="miles" required>

        {% if user.is_authenticated %}
            <input type="hidden" id="user" value="is_authenticated">
        {% endif %}
        
        <input type="submit" class="btn btn-primary" value="Estimate">
    </form>

    {% include 'estimate.html' %}

{% endblock %}